<h1>Menus#show</h1>
<p>Find me in app/views/menus/show.html.erb</p>


<div class="menu-card" style="background-color: lightgray; width: 900px; margin: 20px; padding: 10px;">
    <h4> <%= @menu.name %></h4>
    </br>
    <p><%= @menu.description %></p>
      <% @menu.menu_categories.each do |category| %>
        <strong><%= "Menu items in " + category.name + " category" %></strong>
      </br>
        <ul>
            <% category.menu_items.each do |item| %>
              <li>
                <ul><%= item.name %></ul>
                <ul><%= item.price %></ul>
            <% end %>
              </li>
        </ul>
    <% end %>

    <strong><%= link_to "Edit This Menu", edit_menu_path %></strong>

</div>

