<h1>MenuItems#edit</h1>
<p>Find me in app/views/menu_items/edit.html.erb</p>

<%= simple_form_for(@menu_item) do |item|  %>
  <div class="menu_item" style="border: 1px solid blue;">
    <%= item.input :name %>
    <%= item.input :description %>
    <%= item.input :id %>

    <%= item.button :submit, "Update Item", class: "btn btn-primary"%>
  <% end %>

  <% simple_form_for(@menu) do |menu|  %>
    <%= menu.simple_fields_for :menu_categories do |category| %>
      <%= category.select :category, :collection => @category_names %>
    <% end %>

    <%= menu.simple_fields_for :menu_subcategories do |subcategory| %>
      <%= subcategory.select :subcategory, :collection => @subcategory_names %>
    <% end %>
  <% end %>
</div>

