<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<div class="order-card" style="background-color: lightgray; width: 500px; margin: 20px; padding: 10px;">

  <% @orders.each do |order| %>
    <strong>Muncher </strong>
    <%#= order.user.first_name %>
    <%#= order.user.last_name %>
    </br>
    <strong>at address:</strong></br>
    <%= order.address_id %> </br>
    <strong>Ordered:</strong>
    </br>
    <ul>
      <% order.ordered_items.each do |item| %>
        <li>
          <%= item.quantity %> x
          <%= item.menu_item.name %> ...
          ¥ <%= item.subtotal %>
      <% end %>
        </li>
    </ul>
    <strong>Order # <%= order.id %></strong>
    </br>
    <strong>Order Status:</strong>
    <%= order.order_status %> </br>
    <%= order.address_id %> </br>
    <%= order.time_ordered  %> </br>
    <a href="">Change status of order here</a>
  <% end %>

</div>
