<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% @orders.each do |order| %>
<%= order.user.first_name %>
<%= order.user.last_name %>
<%= order.id %>
<%= order.order_status %>
<%= order.address_id %>
<%= order.time_ordered  %>
<% end %>
